:root {
    /* background-color: red; */
    /*la etiqueta html*/
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Amatic';
    /*outline: 1px solid red;*/
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 45px;
    width: 100vw;
}

.enlace {
    text-align: center;
    margin: 10px;
}

.enlace:link {
    color: aqua;
    background-color: red;
    /*actuas sobre el enlace no visitado*/
}

.enlace:visited {
    background-color: yellow;
    color: #000;
    /*actua sobre los visitados*/
}

.enlace:hover {
    background-color: blue;
    text-decoration: none;
    padding: 5px;
    transition: .3s;
    /*actua al pasar*/

}


.enlace:active {
    background-color: aqua;
    /*activa al estar siendo presionado*/
}


.evento {
    display: inline-block;
    margin: 20px;
    background-color: red;
    color: antiquewhite;
    text-decoration: none;
    padding: 20px;
}


#target {
    width: 200px;
    height: 200px;
    margin: 20px;
    margin-top: 80px;
    background-color: yellow;
}

#target:target {
    padding: 30px;
    margin-left: calc(50vw - 100px);
    border-radius: 50%;
    transition: .65s;
    background-color: aquamarine;
    outline: 3px solid darkcyan;
    /*funciona cuando la url cambia a un target*/
}

.formulario {
    text-align: center;
    width: 35%;
    height: 400px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0, 0, 5px;
    padding: 20px;
}

.formulario_titulo {
    font-size: 50px;
    margin-bottom: 10px;
}

.formulario:focus-within {
    background-color: rgba(153, 205, 50, 0.254);
}

input[type="text"],
[type="email"] {
    display: block;
    width: 60%;
    padding: 18px;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    outline: none;
    font-size: 20px;

}

input[type="checkbox"] {
    width: auto;
    display: inline;
}

input[type="checkbox"]:checked+label {
    background-color: palegreen;
    text-decoration: underline;
}

label[for="check"] {
    font-size: 22px;
}

input:focus {
    background-color: rgba(230, 238, 175, 0.356);
}

h3 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

h3:not(.clase) {
    /*not para negar*/
    font-size: 30px;
    background-color: rgba(255, 0, 0, 0.464);
}

h3:not(:hover) {
    /*funciona con pseudoclases*/
    text-decoration: line-through;
    font-size: 40px;
}




/*las pseudoclases agregan 10 de especificidad
root = el html




*/