* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Amatic';
    /*outline: 1px solid red;*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}

.container {
    display: flex;
    width: 90%;
    background-color: rgba(8, 8, 8, 0.326);
}

.cajas__colores {
    margin: 5px;
    width: 300px;
    height: 200px;
    background-color: yellow;
}

.cajas__colores:nth-child(1) {
    background-color: #FFFFF5;
}

.cajas__colores:nth-child(2) {
    background-color: #F8FEFF;
}

.cajas__colores:nth-child(3) {
    background-color: #EFEFEF;
}

.cajas__colores:nth-child(4) {
    background-color: #F9FDFE;
}

.cajas__colores:nth-child(5) {
    background-color: #F2F6FC;
}

.cajas__colores:nth-child(6) {
    background-color: #FFFFF5;
}