/* box-sizing: content-box;  = Sumar al tamaño `Dimensionamiento del contenido` Es el contenido el que se achica
/* box-sizing: border-box;  = Restar al tamaño
/* Colapso de margen = Gana el margen mayor
/* Colapso de margen con hijo dentro = Agregar padding




Border tamaño: thin | medium | thick |largo 

border-top-style: none;
border-top-style: hidden;
border-top-style: dotted;
border-top-style: dashed;
border-top-style: solid;
border-top-style: double;
border-top-style: groove;
border-top-style: ridge;
border-top-style: inset;
border-top-style: outset;


El espacio entre dos imagenes que los separa es por el html ya que estan escritos en lineas separadas














*/